.cadastro-produto-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8e1;
  font-family: "Poppins", sans-serif;
}

.cadastro-produto-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  text-align: center;
}

.cadastro-produto-card h2 {
  margin-bottom: 20px;
  color: #ff6f00;
  font-weight: 700;
}

.cadastro-produto-card input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ffb74d;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.cadastro-produto-card input:focus {
  border-color: #ff6f00;
}

.cadastro-produto-card button {
  width: 100%;
  padding: 12px;
  background: #ff6f00;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  transition: 0.2s;
}

.cadastro-produto-card button:hover {
  background: #e65100;
}

.voltar {
  background: #757575;
}

.voltar:hover {
  background: #616161;
}
